<div class="club-detail">
  <img
    class="object-fit-contain club-detail__logo"
    src="images/ico/club-detail.svg"
    width="120"
    height="120"
    alt="club"
  />
  <div class="d-flex flex-column gap-3">
    <div class="d-flex flex-wrap align-items-md-center flex-md-row flex-column">
      <h1 class="h1 fw-bold me-6">Berani Zlín</h1>
      <ul class="d-flex gap-3 mt-md-6 mt-4">
        <li>
          <a class="d-block" href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/ico/instagram.svg"
              width="16"
              height="16"
              alt=""
            />
          </a>
        </li>
        <li>
          <a class="d-block" href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/ico/tiktok.svg"
              width="16"
              height="16"
              alt=""
            />
          </a>
        </li>
        <li>
          <a class="d-block" href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/ico/fb-b.svg"
              width="16"
              height="16"
              alt=""
            />
          </a>
        </li>
        <li>
          <a class="d-block" href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/ico/xx.svg"
              width="16"
              height="16"
              alt=""
            />
          </a>
        </li>
        <li>
          <a class="d-block" href="#" target="_blank">
            <img
              class="object-fit-contain"
              src="images/ico/youtube.svg"
              width="16"
              height="16"
              alt=""
            />
          </a>
        </li>
      </ul>
    </div>
    <div class="h4 fw-semibold">
      Krátký popis od klubu, který představí stránku / aukce, cokoli.
    </div>
  </div>
</div>
