<div class="products">
  <ul class="masonry-products-grid">
    <li class="masonry-products-grid__item">
      <div class="product">
        <a href="#" class="product__img">
          <img src="images/content/archiv/1.png" alt="product" loading="lazy" />
          <ul class="product__tags">
            <li class="badge-primary-300">Dnes končí</li>
            <li class="badge-primary-200">Výtěžek 141 398,00 Kč</li>
          </ul>
        </a>
        <div class="d-flex gap-2 align-items-center flex-wrap mb-3">
          <a href="#" class="badge-gray-400 has-hover">Repre</a>
        </div>

        <a href="#" class="text-xl-semibold mb-6 underline-hover d-block">
          Reprezentační kšiltovka s originálním podpisem Jaromíra Jágra
        </a>
        <div class="d-flex flex-wrap gap-4 mb-6">
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/timelapse.svg"
              alt=""
            />
            <div class="text-base-semibold">2 hod 45 min</div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/coins.svg"
              alt=""
            />
            <div class="text-base-semibold">2 500 Kč</div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-8">
          <button
            data-bs-toggle="modal"
            data-bs-target="#bidsModal"
            class="button-gray-800 w-100"
          >
            {% include "@images/plus.svg" %} Přihodit
          </button>
          <a class="product__like" href="#">
            {% include "@images/heart.svg" %}
          </a>
        </div>
      </div>
    </li>
    <li class="masonry-products-grid__item">
      <div class="product">
        <div class="product__logo">
          <img src="images/content/dukla.png" alt="logo" loading="lazy" />
        </div>
        <a href="#" class="product__img">
          <img src="images/content/archiv/2.png" alt="product" loading="lazy" />
        </a>
        <div class="d-flex gap-2 align-items-center flex-wrap mb-3">
          <a href="#" class="badge-gray-400 has-hover">Artefakt</a>
          <a href="#" class="badge-secondary-200 has-hover">Certifikát</a>
        </div>

        <a href="#" class="text-xl-semibold mb-6 underline-hover d-block">
          Originální hraný zápasový dres Kamso Mary z Liberce
        </a>
        <div class="d-flex flex-wrap gap-4 mb-6">
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/timelapse.svg"
              alt=""
            />
            <div class="text-base-semibold">2 hod 45 min</div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/coins.svg"
              alt=""
            />
            <div class="text-base-semibold">2 500 Kč</div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-8">
          <button
            data-bs-toggle="modal"
            data-bs-target="#bidsModal"
            class="button-gray-800 w-100"
          >
            {% include "@images/plus.svg" %} Přihodit
          </button>
          <a class="product__like" href="#">
            {% include "@images/heart.svg" %}
          </a>
        </div>
      </div>
    </li>
    <li class="masonry-products-grid__item">
      <div class="product">
        <a href="#" class="product__img">
          <img src="images/content/archiv/3.png" alt="product" loading="lazy" />
        </a>
        <div class="d-flex gap-2 align-items-center flex-wrap mb-3">
          <a href="#" class="badge-gray-400 has-hover">Replika</a>
        </div>
        <a href="#" class="text-xl-semibold mb-6 underline-hover d-block">
          Originální hraný zápasový dres Kamso Mary z Liberce
        </a>
        <div class="d-flex flex-wrap gap-4 mb-6">
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/timelapse.svg"
              alt=""
            />
            <div class="text-base-semibold">2 hod 45 min</div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/coins.svg"
              alt=""
            />
            <div class="text-base-semibold">2 500 Kč</div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-8">
          <button
            data-bs-toggle="modal"
            data-bs-target="#bidsModal"
            class="button-gray-800 w-100"
          >
            {% include "@images/plus.svg" %} Přihodit
          </button>
          <a class="product__like" href="#">
            {% include "@images/heart.svg" %}
          </a>
        </div>
      </div>
    </li>
    <li class="masonry-products-grid__item">
      <div class="product active">
        <div class="product__logo">
          <img src="images/content/zlin.png" alt="logo" loading="lazy" />
        </div>
        <a href="#" class="product__img">
          <img src="images/content/archiv/4.png" alt="product" loading="lazy" />
        </a>
        <div class="d-flex gap-2 align-items-center flex-wrap mb-3">
          <a href="#" class="badge-gray-400 has-hover">Hokejové dresy</a>
        </div>

        <a href="#" class="text-xl-semibold mb-6 underline-hover d-block">
          Berani Zlín - mistrovský dres naší hokejové legendy
        </a>
        <div class="d-flex flex-wrap gap-4 mb-6">
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/timelapse.svg"
              alt=""
            />
            <div class="text-base-semibold">2 hod 45 min</div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/coins.svg"
              alt=""
            />
            <div class="text-base-semibold">2 500 Kč</div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-8">
          <button
            data-bs-toggle="modal"
            data-bs-target="#bidsModal"
            class="button-gray-800 w-100"
          >
            {% include "@images/plus.svg" %} Přihodit
          </button>
          <a class="product__like" href="#">
            {% include "@images/heart-active.svg" %}
          </a>
        </div>
      </div>
    </li>
    <li class="masonry-products-grid__item">
      <div class="product">
        <a href="#" class="product__img">
          <img src="images/content/archiv/5.png" alt="product" loading="lazy" />
        </a>

        <a href="#" class="text-xl-semibold mb-6 underline-hover d-block">
          Reprezentační kšiltovka s originálním podpisem Jaromíra Jágra
        </a>
        <div class="text-sm-medium text-gray-400 mb-6">
          Reprezentační kšiltovka Reebok ve velikosti L/XL s originálním
          podpisem Jaromíra Jágra. Nová, včetně visačky.
        </div>
        <div class="d-flex flex-wrap gap-4 mb-6">
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/timelapse.svg"
              alt=""
            />
            <div class="text-base-semibold">2 hod 45 min</div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/coins.svg"
              alt=""
            />
            <div class="text-base-semibold">2 500 Kč</div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-8">
          <button
            data-bs-toggle="modal"
            data-bs-target="#bidsModal"
            class="button-primary-500 w-100"
          >
            {% include "@images/plus.svg" %} Přihodit
          </button>
          <a class="product__like" href="#">
            {% include "@images/heart.svg" %}
          </a>
        </div>
      </div>
    </li>
    <li class="masonry-products-grid__item">
      <div class="product">
        <a href="#" class="product__img">
          <img src="images/content/archiv/6.png" alt="product" loading="lazy" />
        </a>

        <a href="#" class="text-xl-semibold mb-6 underline-hover d-block">
          Originální hraný zápasový dres Kamso Mary z Liberce
        </a>
        <div class="text-sm-medium text-gray-400 mb-6">
          Originální hraný zápasový dres Kamso Mary ze Slovanu Liberec.
        </div>
        <div class="d-flex flex-wrap gap-4 mb-6">
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/timelapse.svg"
              alt=""
            />
            <div class="text-base-semibold">2 hod 45 min</div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/coins.svg"
              alt=""
            />
            <div class="text-base-semibold">2 500 Kč</div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-8">
          <button
            data-bs-toggle="modal"
            data-bs-target="#bidsModal"
            class="button-primary-500 w-100"
          >
            {% include "@images/plus.svg" %} Přihodit
          </button>
          <a class="product__like" href="#">
            {% include "@images/heart.svg" %}
          </a>
        </div>
      </div>
    </li>
    <li class="masonry-products-grid__item">
      <div class="product">
        <a href="#" class="product__img">
          <img src="images/content/archiv/7.png" alt="product" loading="lazy" />
        </a>

        <a href="#" class="text-xl-semibold mb-6 underline-hover d-block">
          Originální hraný zápasový dres Kamso Mary z Liberce
        </a>
        <div class="text-sm-medium text-gray-400 mb-6">
          Originální hraný zápasový dres Kamso Mary ze Slovanu Liberec.
        </div>
        <div class="d-flex flex-wrap gap-4 mb-6">
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/timelapse.svg"
              alt=""
            />
            <div class="text-base-semibold">2 hod 45 min</div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/coins.svg"
              alt=""
            />
            <div class="text-base-semibold">2 500 Kč</div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-8">
          <button
            data-bs-toggle="modal"
            data-bs-target="#bidsModal"
            class="button-primary-500 w-100"
          >
            {% include "@images/plus.svg" %} Přihodit
          </button>
          <a class="product__like" href="#">
            {% include "@images/heart.svg" %}
          </a>
        </div>
      </div>
    </li>
    <li class="masonry-products-grid__item">
      <div class="product">
        <a href="#" class="product__img">
          <img src="images/content/archiv/8.png" alt="product" loading="lazy" />
        </a>

        <a href="#" class="text-xl-semibold mb-6 underline-hover d-block">
          Berani Zlín - mistrovský dres naší hokejové legendy
        </a>
        <div class="text-sm-medium text-gray-400 mb-6">
          Reprezentační kšiltovka Reebok ve velikosti L/XL s originálním
          podpisem Jaromíra Jágra. Nová, včetně visačky.
        </div>
        <div class="d-flex flex-wrap gap-4 mb-6">
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/timelapse.svg"
              alt=""
            />
            <div class="text-base-semibold">2 hod 45 min</div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/coins.svg"
              alt=""
            />
            <div class="text-base-semibold">2 500 Kč</div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-8">
          <button
            data-bs-toggle="modal"
            data-bs-target="#bidsModal"
            class="button-primary-500 w-100"
          >
            {% include "@images/plus.svg" %} Přihodit
          </button>
          <a class="product__like" href="#">
            {% include "@images/heart.svg" %}
          </a>
        </div>
      </div>
    </li>
    <li class="masonry-products-grid__item">
      <div class="product">
        <a href="#" class="product__img">
          <img src="images/content/archiv/1.png" alt="product" loading="lazy" />
          <ul class="product__tags">
            <li class="badge-primary-300">Dnes končí</li>
            <li class="badge-primary-200">Výtěžek 141 398,00 Kč</li>
          </ul>
        </a>
        <div class="d-flex gap-2 align-items-center flex-wrap mb-3">
          <a href="#" class="badge-gray-400 has-hover">Repre</a>
        </div>

        <a href="#" class="text-xl-semibold mb-6 underline-hover d-block">
          Reprezentační kšiltovka s originálním podpisem Jaromíra Jágra
        </a>
        <div class="d-flex flex-wrap gap-4 mb-6">
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/timelapse.svg"
              alt=""
            />
            <div class="text-base-semibold">2 hod 45 min</div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/coins.svg"
              alt=""
            />
            <div class="text-base-semibold">2 500 Kč</div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-8">
          <button
            data-bs-toggle="modal"
            data-bs-target="#bidsModal"
            class="button-gray-800 w-100"
          >
            {% include "@images/plus.svg" %} Přihodit
          </button>
          <a class="product__like" href="#">
            {% include "@images/heart.svg" %}
          </a>
        </div>
      </div>
    </li>
    <li class="masonry-products-grid__item">
      <div class="product">
        <div class="product__logo">
          <img src="images/content/dukla.png" alt="logo" loading="lazy" />
        </div>
        <a href="#" class="product__img">
          <img src="images/content/archiv/2.png" alt="product" loading="lazy" />
        </a>
        <div class="d-flex gap-2 align-items-center flex-wrap mb-3">
          <a href="#" class="badge-gray-400 has-hover">Artefakt</a>
          <a href="#" class="badge-secondary-200 has-hover">Certifikát</a>
        </div>

        <a href="#" class="text-xl-semibold mb-6 underline-hover d-block">
          Originální hraný zápasový dres Kamso Mary z Liberce
        </a>
        <div class="d-flex flex-wrap gap-4 mb-6">
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/timelapse.svg"
              alt=""
            />
            <div class="text-base-semibold">2 hod 45 min</div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/coins.svg"
              alt=""
            />
            <div class="text-base-semibold">2 500 Kč</div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-8">
          <button
            data-bs-toggle="modal"
            data-bs-target="#bidsModal"
            class="button-gray-800 w-100"
          >
            {% include "@images/plus.svg" %} Přihodit
          </button>
          <a class="product__like" href="#">
            {% include "@images/heart.svg" %}
          </a>
        </div>
      </div>
    </li>
    <li class="masonry-products-grid__item">
      <div class="product">
        <a href="#" class="product__img">
          <img src="images/content/archiv/3.png" alt="product" loading="lazy" />
        </a>
        <div class="d-flex gap-2 align-items-center flex-wrap mb-3">
          <a href="#" class="badge-gray-400 has-hover">Replika</a>
        </div>
        <a href="#" class="text-xl-semibold mb-6 underline-hover d-block">
          Originální hraný zápasový dres Kamso Mary z Liberce
        </a>
        <div class="d-flex flex-wrap gap-4 mb-6">
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/timelapse.svg"
              alt=""
            />
            <div class="text-base-semibold">2 hod 45 min</div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/coins.svg"
              alt=""
            />
            <div class="text-base-semibold">2 500 Kč</div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-8">
          <button
            data-bs-toggle="modal"
            data-bs-target="#bidsModal"
            class="button-gray-800 w-100"
          >
            {% include "@images/plus.svg" %} Přihodit
          </button>
          <a class="product__like" href="#">
            {% include "@images/heart.svg" %}
          </a>
        </div>
      </div>
    </li>
    <li class="masonry-products-grid__item">
      <div class="product active">
        <div class="product__logo">
          <img src="images/content/zlin.png" alt="logo" loading="lazy" />
        </div>
        <a href="#" class="product__img">
          <img src="images/content/archiv/4.png" alt="product" loading="lazy" />
        </a>
        <div class="d-flex gap-2 align-items-center flex-wrap mb-3">
          <a href="#" class="badge-gray-400 has-hover">Hokejové dresy</a>
        </div>

        <a href="#" class="text-xl-semibold mb-6 underline-hover d-block">
          Berani Zlín - mistrovský dres naší hokejové legendy
        </a>
        <div class="d-flex flex-wrap gap-4 mb-6">
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/timelapse.svg"
              alt=""
            />
            <div class="text-base-semibold">2 hod 45 min</div>
          </div>
          <div class="d-flex gap-2 align-items-center">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/coins.svg"
              alt=""
            />
            <div class="text-base-semibold">2 500 Kč</div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-8">
          <button
            data-bs-toggle="modal"
            data-bs-target="#bidsModal"
            class="button-gray-800 w-100"
          >
            {% include "@images/plus.svg" %} Přihodit
          </button>
          <a class="product__like" href="#">
            {% include "@images/heart-active.svg" %}
          </a>
        </div>
      </div>
    </li>
  </ul>
  <button class="button-primary-500 products-load-more">
    Načíst další aukce
  </button>
  <script>
    /**
     * DEFINE AJAX SOURCE FOR MASONRY REFERENCE
     */
    const masonryReferenceSource = "/spornovni-aukce/build/ajax-products.json";
  </script>
  {% include "@components/modal/modal-bids.twig" %}
</div>
