.product {
  padding: 32px;
  background-color: var(--color-light);
  border-radius: 12px;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04), 0px 10px 10px rgba(0, 0, 0, 0.04),
    0px 22px 13px rgba(0, 0, 0, 0.02), 0px 39px 16px rgba(0, 0, 0, 0.01);

  &__img {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 24px;
    display: block;
    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
      object-fit: cover;
    }
  }
  &__tags {
    position: absolute;
    bottom: 12px;
    left: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__logo {
    background-color: var(--color-light);
    padding: 8px;
    position: absolute;
    left: 16px;
    top: 16px;
    z-index: 2;
    border-radius: 4px;
    img {
      width: 48px;
      height: 48px;
      object-fit: contain;
    }
  }
  &__like {
    display: block;
    min-width: 24px;
    width: 24px;
    height: 24px;
  }
}
.products {
  max-height: 1600px;
  overflow: hidden;
  position: relative;
  @include media-breakpoint-down(lg) {
    max-height: none !important;
    overflow: visible !important;
  }
  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 1920px;
    height: 96px;
    z-index: 9;
    background: linear-gradient(
      to top,
      rgba(244, 244, 244, 1) 0%,
      rgba(244, 244, 244, 0) 100%
    );
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}
.products-load-more {
  // position: absolute;
  // bottom: 36px;
  // left: 0;
  // right: 0;
  margin: 32px auto;
  z-index: 10;
  width: fit-content;
  @include media-breakpoint-down(lg) {
    position: relative;
    bottom: 0;
    margin-top: 12px;
    display: block;
    margin-bottom: 64px;
  }
}
.masonry-products-grid__item {
  width: calc(25% - 22.5px);
  margin-bottom: 28px;
  width: 100%;
  @include media-breakpoint-up(xl) {
    width: calc(25% - 22.5px);
  }
  @include media-breakpoint-up(lg) {
    width: calc(33.333% - 20px);
  }
  @include media-breakpoint-up(sm) {
    width: calc(50% - 15px);
  }
}
.products.hide-before {
  padding-bottom: 40px;
}
.products.hide-before::before {
  display: none !important;
  content: none !important;
}
.product--finished {
  .product__img {
    img {
      filter: grayscale(100%);
      opacity: 0.6;
    }
  }
}
