<div class="profile__content">
  <h1 class="profile__title text-xl-semibold text-gray-700 mb-6">Nevyhráno</h1>
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th class="text-start">Číslo</th>
          <th class="text-start">Název předmětu / dresu</th>
          <th class="text-start">Cena</th>
          <th class="text-end">Vyhrávající</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-sm-semibold">#69</td>
          <td class="text-sm-semibold">
            <a class="underline" href="#"
              >Jaromír Jágr (hokej Kladno, po návratu z NHL)</a
            >
          </td>
          <td class="text-sm-semibold">139 Kč</td>
          <td class="text-sm-semibold">Tomáš S.</td>
        </tr>
        <tr>
          <td class="text-sm-semibold">#39</td>
          <td class="text-sm-semibold">
            <a class="underline" href="#"
              >Karel Poborský (reprezentace ČR, s podpisem)</a
            >
          </td>
          <td class="text-sm-semibold">139 Kč</td>
          <td class="text-sm-semibold">Petr V.</td>
        </tr>
        <tr>
          <td class="text-sm-semibold">#12</td>
          <td class="text-sm-semibold">
            <a class="underline" href="#"
              >Petr Čech (reprezentace ČR, s podpisem)</a
            >
          </td>
          <td class="text-sm-semibold">120 Kč</td>
          <td class="text-sm-semibold">Lucie M.</td>
        </tr>
        <tr>
          <td class="text-sm-semibold">#45</td>
          <td class="text-sm-semibold">
            <a class="underline" href="#"
              >Vladimír Růžička (hokej, s podpisem)</a
            >
          </td>
          <td class="text-sm-semibold">150 Kč</td>
          <td class="text-sm-semibold">Tomáš S.</td>
        </tr>
        <tr>
          <td class="text-sm-semibold">#69</td>
          <td class="text-sm-semibold">
            <a class="underline" href="#"
              >Jaromír Jágr (hokej Kladno, po návratu z NHL)</a
            >
          </td>
          <td class="text-sm-semibold">139 Kč</td>
          <td class="text-sm-semibold">Tomáš S.</td>
        </tr>
        <tr>
          <td class="text-sm-semibold">#39</td>
          <td class="text-sm-semibold">
            <a class="underline" href="#"
              >Karel Poborský (reprezentace ČR, s podpisem)</a
            >
          </td>
          <td class="text-sm-semibold">139 Kč</td>
          <td class="text-sm-semibold">Petr V.</td>
        </tr>
        <tr>
          <td class="text-sm-semibold">#12</td>
          <td class="text-sm-semibold">
            <a class="underline" href="#"
              >Petr Čech (reprezentace ČR, s podpisem)</a
            >
          </td>
          <td class="text-sm-semibold">120 Kč</td>
          <td class="text-sm-semibold">Lucie M.</td>
        </tr>
        <tr>
          <td class="text-sm-semibold">#45</td>
          <td class="text-sm-semibold">
            <a class="underline" href="#"
              >Vladimír Růžička (hokej, s podpisem)</a
            >
          </td>
          <td class="text-sm-semibold">150 Kč</td>
          <td class="text-sm-semibold">Tomáš S.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav class="mt-5 profile-pagination" aria-label="Další stránky">
    <ul class="pagination d-flex flex-wrap pagination-flat pagination-success">
      <li class="page-item page-item__prev disabled">
        <a data-abc="true" href="#">
          {% include "@images/chevron-left.svg" %}
        </a>
      </li>
      <li class="page-item active">
        <a class="page-link button-gray-800" href="#" data-abc="true">1</a>
      </li>
      <li class="page-item">
        <a class="page-link button-stroke" href="#" data-abc="true">2</a>
      </li>
      <li class="page-item">
        <a class="page-link button-stroke" href="#" data-abc="true">3</a>
      </li>
      <li class="page-item">
        <a class="page-link p-0" href="#" data-abc="true">...</a>
      </li>
      <li class="page-item">
        <a class="page-link button-stroke" href="#" data-abc="true">12</a>
      </li>

      <li class="page-item page-item__next">
        <a href="#" data-abc="true">
          {% include "@images/chevron-right.svg" %}
        </a>
      </li>
    </ul>
  </nav>
</div>
 