<div class="profile__content">
  <h1 class="profile__title text-xl-semibold text-gray-700 mb-6">Nevyhráno</h1>
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th class="text-start">Název předmětu / dresu</th>
          <th class="text-start">Položka</th>
          <th class="text-start">Můj přívoz</th>
          <th class="text-start">Konečná cena</th>
          <th class="text-start">Vyhrávající</th>
          <th class="text=end">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-sm-semibold">
            <a class="underline" href="#"
              >Jaromír Jágr (hokej Kladno, po návratu z NHL)</a
            >
          </td>
          <td class="text-sm-semibold">Lorem ipsum dolor sit amet.</td>
          <td class="text-sm-semibold">1 500 Kč</td>
          <td class="text-sm-semibold text-primary-500">12 000 Kč</td>
          <td class="text-sm-semibold">admin</td>
          <td class="text-sm-semibold">162</td>
        </tr>
        <tr>
          <td class="text-sm-semibold">
            <a class="underline" href="#"
              >Jaromír Jágr (hokej Kladno, po návratu z NHL)</a
            >
          </td>
          <td class="text-sm-semibold">
            Lorem i psum dolor sit psum dolor sit amet.
          </td>
          <td class="text-sm-semibold">500 Kč</td>
          <td class="text-sm-semibold text-primary-500">5 000 Kč</td>
          <td class="text-sm-semibold">admin</td>
          <td class="text-sm-semibold">162</td>
        </tr>
        <tr>
          <td class="text-sm-semibold">
            <a class="underline" href="#"
              >Jaromír Jágr (hokej Kladno, po návratu z NHL)</a
            >
          </td>
          <td class="text-sm-semibold">Lorem i psum .</td>
          <td class="text-sm-semibold">240 Kč</td>
          <td class="text-sm-semibold text-primary-500">0 Kč</td>
          <td class="text-sm-semibold">admin</td>
          <td class="text-sm-semibold">162</td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav class="mt-5 profile-pagination" aria-label="Další stránky">
    <ul class="pagination d-flex flex-wrap pagination-flat pagination-success">
      <li class="page-item page-item__prev disabled">
        <a data-abc="true" href="#">
          {% include "@images/chevron-left.svg" %}
        </a>
      </li>
      <li class="page-item active">
        <a class="page-link button-gray-800" href="#" data-abc="true">1</a>
      </li>
      <li class="page-item">
        <a class="page-link button-stroke" href="#" data-abc="true">2</a>
      </li>
      <li class="page-item">
        <a class="page-link button-stroke" href="#" data-abc="true">3</a>
      </li>
      <li class="page-item">
        <a class="page-link p-0" href="#" data-abc="true">...</a>
      </li>
      <li class="page-item">
        <a class="page-link button-stroke" href="#" data-abc="true">12</a>
      </li>

      <li class="page-item page-item__next">
        <a href="#" data-abc="true">
          {% include "@images/chevron-right.svg" %}
        </a>
      </li>
    </ul>
  </nav>
</div>
