<div class="profile__content">
  <h1 class="profile__title text-xl-semibold text-gray-700 mb-6">
    Přihazuji aukce
  </h1>
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th class="text-start">Název aukce</th>
          <th>Konec aukce</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a class="text-sm-semibold underline" href="#">
              Jaromír Jágr (hokej Kladno, po návratu z NHL)
            </a>
          </td>
          <td class="text-sm-semibold">20:00:00 9.6.2025</td>
        </tr>
        <tr>
          <td>
            <a class="text-sm-semibold underline" href="#"
              >Karel Poborský (reprezentace ČR, s podpisem)</a
            >
          </td>
          <td class="text-sm-semibold">20:00:00 25.2.2025</td>
        </tr>
        <tr>
          <td>
            <a class="text-sm-semibold underline" href="#"
              >Petr Čech (reprezentace ČR, s podpisem)</a
            >
          </td>
          <td class="text-sm-semibold">20:00:00 14.8.2025</td>
        </tr>
        <tr>
          <td>
            <a class="text-sm-semibold underline" href="#">
              Jaromír Jágr (hokej Kladno, po návratu z NHL)
            </a>
          </td>
          <td class="text-sm-semibold">20:00:00 9.6.2025</td>
        </tr>
        <tr>
          <td>
            <a class="text-sm-semibold underline" href="#"
              >Karel Poborský (reprezentace ČR, s podpisem)</a
            >
          </td>
          <td class="text-sm-semibold">20:00:00 25.2.2025</td>
        </tr>
        <tr>
          <td>
            <a class="text-sm-semibold underline" href="#"
              >Petr Čech (reprezentace ČR, s podpisem)</a
            >
          </td>
          <td class="text-sm-semibold">20:00:00 14.8.2025</td>
        </tr>
        <tr>
          <td>
            <a class="text-sm-semibold underline" href="#">
              Jaromír Jágr (hokej Kladno, po návratu z NHL)
            </a>
          </td>
          <td class="text-sm-semibold">20:00:00 9.6.2025</td>
        </tr>
        <tr>
          <td>
            <a class="text-sm-semibold underline" href="#"
              >Karel Poborský (reprezentace ČR, s podpisem)</a
            >
          </td>
          <td class="text-sm-semibold">20:00:00 25.2.2025</td>
        </tr>
        <tr>
          <td>
            <a class="text-sm-semibold underline" href="#"
              >Petr Čech (reprezentace ČR, s podpisem)</a
            >
          </td>
          <td class="text-sm-semibold">20:00:00 14.8.2025</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
