<div class="detail-bids mb-lg-14 pb-14">
  <div class="row g-7 flex-wrap-reverse">
    <div class="col-xl-6">
      {% include "@components/galleryBids/galleryBids.twig" %}
    </div>
    <div class="col-xl-6">
      <div class="detail-bids__content">
        <h1 class="h2 pb-5">Hrané dresy českých reprezentantů</h1>
        <ul class="d-flex gap-2 align-items-center flex-wrap mb-5">
          <li class="badge-gray-400">Artefakt</li>
          <li class="badge-secondary-200">Certifikát</li>
        </ul>
        <p class="text-xl-regular fw-medium mb-5">
          Originální dresy bývalých českých reprezentantů z olympijských her a
          světových šampionátů. Všechny hole jsou hrané, některé včetně
          originálního podpisu.
        </p>
        <div class="mb-5">
          <ul class="text-sm-medium list-disc">
            <li>Jaromír Jágr (hokej Kladno, po návratu z NHL) - hraný</li>
            <li>Tomáš Kaberle (OH 2010, Vancouver, s podpisem) - hraný</li>
            <li>Tomáš Rolinek (MS 2009, Švýcarsko, s podpisem) - hraný</li>
          </ul>
        </div>
        <a href="#" class="text-sm-medium underline d-block mb-8"
          >Kompletní popis</a
        >
        <div class="row">
          <div class="col">
            <div
              class="text-base-medium fw-bold mb-2 d-flex align-items-center gap-2"
            >
              <img
                src="images/ico/timelapse.svg"
                width="24"
                height="24"
                class="object-fit-contain"
                alt=""
              />
              Zbývající čas
            </div>
            <ul class="text-primary-500 text-xl-semibold">
              <li>2 hod</li>
              <li>45 min</li>
              <li>12 sek</li>
            </ul>
          </div>
          <div class="col">
            <div
              class="text-base-medium fw-bold mb-2 d-flex align-items-center gap-2"
            >
              <img
                src="images/ico/calendar.svg"
                width="24"
                height="24"
                class="object-fit-contain"
                alt=""
              />
              Konec aukce
            </div>
            <ul class="text-primary-500 text-xl-semibold">
              <li>Středa</li>
              <li>26.2.2025</li>
              <li>20:00:00</li>
            </ul>
          </div>
          <div class="col">
            <div
              class="text-base-medium fw-bold mb-2 d-flex align-items-center gap-2"
            >
              <img
                src="images/ico/light.svg"
                width="24"
                height="24"
                class="object-fit-contain"
                alt=""
              />
              Čas serveru
            </div>
            <ul class="text-xl-semibold">
              <li>Středa</li>
              <li>26.2.2025</li>
              <li>17:24:15</li>
            </ul>
          </div>
        </div>
        <div class="d-flex gap-5 flex-wrap mt-8">
          <div class="select-primary-500">
            <select class="js-select">
              <option value="">Předměty v aukci</option>
              <option value="">Lorem, ipsum dolor.</option>
              <option value="">Lorem ipsum dolor sit.</option>
              <option value="">Lorem ipsum.</option>
            </select>
          </div>

          <select class="js-select">
            <option value="">Příhozy</option>
            <option value="">Lorem, ipsum dolor.</option>
            <option value="">Lorem ipsum dolor sit.</option>
            <option value="">Lorem ipsum.</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
