<aside class="aside">
  <ul class="aside__menu d-flex gap-2 flex-column">
    <li>
      <a
        class="active text-sm-semibold text-gray-400 py-2 px-3 d-block"
        href="#"
        >Můj profil</a
      >
    </li>
    <li>
      <a class="text-sm-semibold text-gray-400 py-2 px-3 d-block" href="#"
        >PRO účet</a
      >
    </li>
    <li>
      <button
        data-bs-toggle="modal"
        data-bs-target="#passwordModal"
        class="text-sm-semibold text-gray-400 py-2 px-3 d-block"
      >
        Změnit heslo
      </button>
    </li>
    <li>
      <a class="text-sm-semibold text-gray-400 py-2 px-3 d-block" href="#"
        >Vydražené předměty</a
      >
    </li>
    <li>
      <a class="text-sm-semibold text-gray-400 py-2 px-3 d-block" href="#"
        >Přihazuji předměty</a
      >
    </li>
    <li>
      <a class="text-sm-semibold text-gray-400 py-2 px-3 d-block" href="#"
        >Přihazuji aukce</a
      >
    </li>
    <li>
      <a class="text-sm-semibold text-gray-400 py-2 px-3 d-block" href="#"
        >Nevyhráno</a
      >
    </li>
  </ul>
  {% include "@components/modal/modal-password.twig" %}
</aside>
