/* Menu */
.main-menu {
  @include media-breakpoint-down(xl) {
    position: fixed;
    height: calc(100dvh - 112px);
    overflow-y: auto;
    inset: 112px 0 0 0;
    opacity: 0;
    visibility: hidden;
    touch-action: none;
    padding-top: 52px;
    transition: all 0.2s;

    &.visible {
      opacity: 1;
      visibility: visible;
      touch-action: auto;
    }
  }

  @include media-breakpoint-down(md) {
    inset: 80px 0 0 0;
  }

  & > ul {
    display: grid;

    @include media-breakpoint-down(xl) {
      gap: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
      display: inline-flex;
    }
  }
}
/* Menu item */
.menu-item {
  position: relative;

  @include media-breakpoint-up(xl) {
    &:hover,
    &:focus-within {
      .menu-link {
        color: var(--color-primary-500);
        background-color: transparent;
      }

      .submenu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
/* Menu link */
.menu-link {
  display: block;
  padding: 0 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: -0.14px;
  text-decoration: none;
  text-decoration-color: transparent;

  @include media-breakpoint-down(xl) {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.03em;
  }

  @include media-breakpoint-up(xl) {
    padding: 0.5rem 1rem;
    transition: color 0.2s ease, background-color 0.2s ease;
  }
}
.menu-link.active {
  color: var(--color-primary-500);
}
.menu-toggler {
  display: block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-primary-500);
  color: var(--color-light);
  border: none;
  cursor: pointer;
  @include media-breakpoint-up(xl) {
    display: none;
  }

  &[aria-expanded="true"] svg {
    &:first-child {
      opacity: 0;
      transform: scale(0);
    }
    &:last-child {
      opacity: 1;
      transform: scale(1);
    }
  }

  &[aria-expanded="false"] svg {
    &:first-child {
      transform: scale(1);
      opacity: 1;
    }
    &:last-child {
      opacity: 0;
      transform: scale(0);
    }
  }

  svg {
    position: absolute;
    inset: 0;
    margin: auto;
    transition: 0.2s ease;
  }
}

// login dropdown

.dropdown-login {
  position: relative;
  .dropdown-menu {
    background-color: var(--color-light);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 32px 48px -8px rgba(0, 0, 0, 0.1);
    width: 18.6rem;

    @include media-breakpoint-up(md) {
      top: calc(100% + 6px) !important ;
      right: auto !important;
      left: 50% !important;
      transform: translate(-50%, 0) !important;
    }
    @include media-breakpoint-down(md) {
      position: relative !important;
      display: block !important;
      width: 100%;
      background-color: transparent;
      text-align: center;
      box-shadow: none;
    }
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-image: url("../images/ico/dropdown-arrow.svg");

      width: 20px;
      height: 12px;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
  a {
    display: block;
    color: var(--color-gray-400);
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 8px;
    &:hover {
      color: var(--color-gray-800);
      background-color: var(--color-gray-200);
    }
  }
  .active {
  }
}
