<div
  class="modal fade"
  id="buyNowModal"
  aria-labelledby="buyNowModalLabel"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <img src="images/ico/close.svg" alt="" />
      </button>
      <h4 class="h4 text-gray-700 fw-semibold mb-6" id="buyNowModalLabel">
        Koupit teď
      </h4>
      <div class="text-sm-bold mb-1">Kupujete položku</div>
      <div class="text-sm-medium mb-5">#21 Baláž Ondřej</div>
      <div class="text-sm-bold mb-1">Konec aukce</div>
      <div class="text-sm-medium mb-5">
        20:00:00 28.2.2025
        <span class="text-sm-semibold text-primary-500">(2 hod 45 min)</span>
      </div>
      <div class="text-sm-bold mb-1">Cena “koupit teď”</div>
      <div class="text-sm-medium mb-5">3 490 Kč</div>

      <a href="#" class="button-primary-500 w-100">Koupit teď</a>

      <div class="d-flex gap-2 border-top border-2 border-gray-300 pt-5 mt-5">
        <img
          src="images/ico/cr-fr.svg"
          class="object-fit-contain"
          width="16"
          height="16"
          alt=""
        />
        <div class="text-sm-medium">
          Přihozením na položku projevujete souhlas s
          <a href="#" class="text-primary-500 underline">pravidly aukce</a>.
        </div>
      </div>
    </div>
  </div>
</div>
