<div
  class="modal fade"
  id="passwordModal"
  aria-labelledby="passwordModalLabel"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <img src="images/ico/close.svg" alt="" />
      </button>
      <h4 class="h4 text-gray-700 fw-semibold mb-6" id="passwordModalLabel">
        Změna hesla
      </h4>

      <form class="">
        <div class="d-grid gap-1 mb-6">
          <label class="text-sm-semibold" for="pass">Původní heslo </label>
          <input type="password" id="pass" required />
        </div>
        <div class="d-grid gap-1 mb-6">
          <label class="text-sm-semibold" for="newPass">Nové heslo </label>
          <input type="password" id="newPass" required />
        </div>
        <div class="d-grid gap-1 mb-5">
          <label class="text-sm-semibold" for="newPass2">Původní heslo </label>
          <input type="password" id="newPass2" required />
        </div>

        <button class="button-primary-500 w-100">
          Nové heslo pro kontrolu
        </button>
      </form>

      <div class="d-flex gap-2 border-top border-2 border-gray-300 pt-5 mt-5">
        <img
          src="images/ico/cr-fr.svg"
          class="object-fit-contain"
          width="16"
          height="16"
          alt=""
        />
        <div class="text-sm-medium">
          Heslo musí obsahovat tohle a tohle, protože bezpečnost.
        </div>
      </div>
    </div>
  </div>
</div>
