<div class="gallery-wrapper">
  <div class="gallerySwiper">
    <div class="swiper mainPhotoSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a
            href="#"
            class="mainPhotoSwiper__item"
            data-source="/spornovni-aukce/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              srcset="
                https://swiperjs.com/demos/images/nature-1.jpg 1384w,
                https://swiperjs.com/demos/images/nature-1.jpg  692w
              "
              alt="Фото 1"
              width="692"
              height="438"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a
            href="#"
            class="mainPhotoSwiper__item"
            data-source="/spornovni-aukce/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              srcset="
                https://swiperjs.com/demos/images/nature-2.jpg 1384w,
                https://swiperjs.com/demos/images/nature-2.jpg  692w
              "
              alt="Фото 1"
              width="692"
              height="438"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a
            href="#"
            class="mainPhotoSwiper__item"
            data-source="/spornovni-aukce/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              srcset="
                https://swiperjs.com/demos/images/nature-3.jpg 1384w,
                https://swiperjs.com/demos/images/nature-3.jpg  692w
              "
              alt="Фото 1"
              width="692"
              height="438"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a
            href="#"
            class="mainPhotoSwiper__item"
            data-source="/spornovni-aukce/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              srcset="
                https://swiperjs.com/demos/images/nature-4.jpg 1384w,
                https://swiperjs.com/demos/images/nature-4.jpg  692w
              "
              alt="Фото 1"
              width="692"
              height="438"
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a
            href="#"
            class="mainPhotoSwiper__item"
            data-source="/spornovni-aukce/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              srcset="
                https://swiperjs.com/demos/images/nature-5.jpg 1384w,
                https://swiperjs.com/demos/images/nature-5.jpg  692w
              "
              alt="Фото 1"
              width="692"
              height="438"
            />
          </a>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="swiper photoSwiperThumbs mt-lg-6 mt-4">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            srcset="https://swiperjs.com/demos/images/nature-1.jpg"
            alt="Фото 1"
            width="176"
            height="112"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            srcset="https://swiperjs.com/demos/images/nature-2.jpg"
            alt="Фото 1"
            width="176"
            height="112"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            srcset="https://swiperjs.com/demos/images/nature-3.jpg"
            alt="Фото 1"
            width="176"
            height="112"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            srcset="https://swiperjs.com/demos/images/nature-4.jpg"
            alt="Фото 1"
            width="176"
            height="112"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide">
          <img
            srcset="https://swiperjs.com/demos/images/nature-5.jpg"
            alt="Фото 1"
            width="176"
            height="112"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <div class="mt-6 text-base-medium text-center mx-auto">
      Celkový výtěžek aukce je
      <span class="fw-bold text-primary-500">1 398,00 Kč</span>
    </div>
  </div>
</div>
