<header class="main-header">
  <div class="container">
    <div
      class="main-header__inner d-grid align-items-center py-5 py-md-9 transition-all duration-200"
    >
      <a href="/" class="d-block">
        <img src="images/ico/logo.svg" width="240" height="23" alt="logo" />
      </a>
      <nav id="main-menu" class="main-menu" aria-label="Hlavní menu">
        <ul>
          <li class="menu-item">
            <a href="#" class="menu-link active">Právě končí</a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">Příhozy </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">Kluby</a>
          </li>
        </ul>

        <div
          class="mb-8 mt-12 d-grid justify-items-center align-items-center px-4 text-center d-md-none"
        >
          <a href="#" class="button-primary-500 mb-7">
            {% include "@images/user.svg" %} Můj účet
          </a>
          <ul
            role="list"
            class="d-flex flex-wrap align-items-center justify-content-center gap-4"
          >
            <li aria-selected="true">
              <a href="#">
                <img
                  src="images/ico/cz.svg"
                  width="24"
                  height="18"
                  class="object-fit-content"
                  alt=""
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="images/ico/gb.svg"
                  width="24"
                  height="18"
                  class="object-fit-content"
                  alt=""
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="images/ico/sk.svg"
                  width="24"
                  height="18"
                  class="object-fit-content"
                  alt=""
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="images/ico/ru.svg"
                  width="24"
                  height="18"
                  class="object-fit-content"
                  alt=""
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="images/ico/de.svg"
                  width="24"
                  height="18"
                  class="object-fit-content"
                  alt=""
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="images/ico/pl.svg"
                  width="24"
                  height="18"
                  class="object-fit-content"
                  alt=""
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="images/ico/bg.svg"
                  width="24"
                  height="18"
                  class="object-fit-content"
                  alt=""
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="images/ico/hu.svg"
                  width="24"
                  height="18"
                  class="object-fit-content"
                  alt=""
                />
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="d-flex justify-content-end align-items-center gap-6 ms-auto">
        <div class="d-md-flex align-items-center gap-4 d-none">
          <a href="#" class="button-primary-500 button-sm">
            {% include "@images/user.svg" %} Můj účet
          </a>

          <details class="lang-dropdown" title="Výběr jazyka">
            <summary>
              <img
                src="images/ico/gb.svg"
                width="24"
                height="18"
                class="object-fit-content"
                alt=""
              />
            </summary>
            <ul role="list" class="text-base-semibold">
              <li aria-selected="true">
                <a href="#">
                  <img
                    src="images/ico/cz.svg"
                    width="24"
                    height="18"
                    class="object-fit-content"
                    alt=""
                  />
                  Česky
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="images/ico/bg.svg"
                    width="24"
                    height="18"
                    class="object-fit-content"
                    alt=""
                  />
                  English
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="images/ico/sk.svg"
                    width="24"
                    height="18"
                    class="object-fit-content"
                    alt=""
                  />
                  Slovensky
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="images/ico/ru.svg"
                    width="24"
                    height="18"
                    class="object-fit-content"
                    alt=""
                  />
                  Pусский
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="images/ico/de.svg"
                    width="24"
                    height="18"
                    class="object-fit-content"
                    alt=""
                  />
                  Deutsch
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="images/ico/pl.svg"
                    width="24"
                    height="18"
                    class="object-fit-content"
                    alt=""
                  />
                  Polski
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="images/ico/bg.svg"
                    width="24"
                    height="18"
                    class="object-fit-content"
                    alt=""
                  />
                  Български
                </a>
              </li>
              <li>
                <a href="#">
                  <img
                    src="images/ico/hu.svg"
                    width="24"
                    height="18"
                    class="object-fit-content"
                    alt=""
                  />
                  Magyar
                </a>
              </li>
            </ul>
          </details>
        </div>

        <button
          class="menu-toggler"
          aria-controls="main-menu"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4 16C4 15.4477 4.44772 15 5 15H19C19.5523 15 20 15.4477 20 16C20 16.5523 19.5523 17 19 17H5C4.44772 17 4 16.5523 4 16Z"
              fill="currentColor"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4 8C4 7.44772 4.44772 7 5 7H19C19.5523 7 20 7.44772 20 8C20 8.55228 19.5523 9 19 9H5C4.44772 9 4 8.55228 4 8Z"
              fill="currentColor"
            />
          </svg>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.29289 6.29289C6.68342 5.90237 7.31658 5.90237 7.70711 6.29289L12 10.5858L16.2929 6.29289C16.6834 5.90237 17.3166 5.90237 17.7071 6.29289C18.0976 6.68342 18.0976 7.31658 17.7071 7.70711L13.4142 12L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L12 13.4142L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.90237 17.3166 5.90237 16.6834 6.29289 16.2929L10.5858 12L6.29289 7.70711C5.90237 7.31658 5.90237 6.68342 6.29289 6.29289Z"
              fill="currentColor"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
