<footer class="main-footer bg-light">
  <div class="container">
    <div class="footer-content d-grid grid-cols-1 gap-7 border-gray-300 py-12">
      <div aria-labelledby="service-owner-title " class="footer-service">
        <h2 id="service-owner-title" class="text-base-semibold mb-6">
          Provozovatel
        </h2>
        <div class="d-flex flex-wrap gap-8">
          <a href="https://esportsmedia.cz" target="_blank">
            <img
              src="images/ico/esports-logo.svg"
              width="105"
              height="87"
              alt=""
            />
          </a>
          <address class="text-sm-medium not-italic">
            <b>eSports.cz, s.r.o.</b><br />
            Jeřabinová 836/30<br />
            326 00 Plzeň
            <br />
            <br />
            IČ: 26340933<br />
            DIČ: CZ 26340933
          </address>
        </div>
      </div>

      <div aria-labelledby="footer-menu-title" class="footer-menu">
        <h2 id="footer-menu-title" class="text-base-semibold mb-6">Menu</h2>
        <nav>
          <ul role="list" class="text-sm-medium d-flex flex-column gap-2">
            <li>
              <a href="#" class="underline-hover"> Nejnovější </a>
            </li>
            <li>
              <a href="#" class="underline-hover"> Právě končí </a>
            </li>
            <li>
              <a href="#" class="underline-hover"> Poslední příhozy </a>
            </li>
            <li>
              <a href="#" class="underline-hover"> Kluby </a>
            </li>
          </ul>
        </nav>
      </div>
      <div aria-labelledby="footer-menu-title" class="footer-menu">
        <h2 id="footer-menu-title" class="text-base-semibold mb-6">Ostatní</h2>
        <nav>
          <ul role="list" class="text-sm-medium d-flex flex-column gap-2">
            <li>
              <a href="#" class="underline-hover"> Pravidla aukce </a>
            </li>
            <li>
              <a href="#" class="underline-hover"> Ochrana osobních údajů </a>
            </li>
            <li>
              <a href="#" class="underline-hover"> Vytvořit účet </a>
            </li>
            <li>
              <a href="#" class="underline-hover"> Benefity PRO účtu </a>
            </li>
          </ul>
        </nav>
      </div>

      <div
        aria-label="footer-mobile-app-title"
        class="d-grid rounded-xl bg-gray-100b sm:max-md:col-span-2 footer-app"
      >
        <div class="p-6 sm:mr-auto">
          <h2 id="footer-mobile-app-title" class="h4 mb-1">
            Komplexní. <br />
            Intuitivní. <br />
            Spolehlivý.
          </h2>
          <div class="text-sm-semibold">
            <span class="text-primary-500">Věnujte se sportu</span>
            , <br />ostatní nechte na nás.
          </div>
        </div>
        <img
          src="images/content/footer-mobile-app.webp"
          width="158"
          height="188"
          class="mt-auto w-100 object-fit-contain footer-app-img"
          loading="lazy"
          alt=""
        />
      </div>
    </div>

    <div
      class="footer-bottom d-grid gap-8 border-top border-gray-300 py-12 align-items-center"
    >
      <div class="text-base-regular text-md-start text-center">
        Copyright &copy; 2024 |
        <a
          href="https://esportsmedia.cz"
          target="_blank"
          class="underline-hover"
          >eSportsmedia.cz</a
        >
        All rights reserved.
      </div>
      <div class="d-flex gap-6">
        <a
          href="https://www.facebook.com/KlubovyInformacniSystem"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="images/ico/fb.svg" width="24" height="24" alt="" />
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="images/ico/x.svg" width="24" height="24" alt="" />
        </a>
      </div>
      <div class="text-center text-sm-end">
        <button class="button-stroke button-sm" data-cc="show-preferencesModal">
          Nastavení cookies
        </button>
      </div>
    </div>
  </div>
</footer>
