.auctionItems {
  table td,
  table th {
    min-width: auto;
  }

  &__btn {
    border: none;
    background: transparent;
    cursor: pointer;
  }
}
.auctionItems__btn {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.auctionItems__btn.active img {
  transform: rotate(180deg);
}

.auction-details {
  transition: all 0.3s ease;
}
th.itemName img {
  filter: grayscale(100%);
}
th.itemName.text-primary-500 img {
  filter: grayscale(0%);
}
.itemName {
  min-width: 100px !important;
  white-space: wrap !important;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  &-img {
    display: block;
    min-width: 56px;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    @include media-breakpoint-down(md) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}
.itemBtn {
  width: 54px;
  min-width: 54px !important;
  @include media-breakpoint-down(lg) {
    width: 24px;
    height: 24px;
    min-width: 24px !important;
    padding: 0 !important;
  }
}
.itemNum {
  width: 3.2rem;
}

.auction-details,
.active-row {
  background-color: var(--color-gray-100b);
}

.auctionTable {
  min-width: auto;
  .button-sm {
    @include media-breakpoint-down(md) {
      padding: 0.4rem 0.5rem !important;
      font-size: 0.7rem !important;
      min-width: 32px;
    }
  }
}
.auctionTable th,
.auctionTable td {
  @include media-breakpoint-down(md) {
    padding-left: 8px;
    padding-right: 8px;
  }
}
