:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-secondary-100: #ffd7c2;
  --color-secondary-200: #e8e2ff;
  --color-primary-200: #6ab151;
  --color-primary-300: #ff2b0e;
  --color-primary-500: #ff6100;
  --color-primary-600: #cc4e00;
  --color-gray-100b: #f8f8f8;
  --color-gray-100: #fcfcfc;
  --color-gray-200: #f5f5f5;
  --color-gray-300: #efefef;
  --color-gray-400: #6f767e;
  --color-gray-500: #33383f;
  --color-gray-600: #272b30;
  --color-gray-700: #1a1d1f;
  --color-gray-800: #111315;
  --bs-border-width: 1px;
  --bs-border-color: var(--color-gray-300);
  --bs-border-style: solid;
}
