{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %} {% include "@components/header/header.twig" %}
<main
  id="main-content"
  class="main ignore-top-offset"
  aria-label="Hlavní obsah"
>
  {% include "@components/hero-section/hero-section.twig" %}
  <div class="container">
    <form
      class="mb-7 filterMenu d-flex justify-content-between gap-4 pt-5 flex-md-nowrap flex-wrap"
    >
      <input type="hidden" name="category" value="1" />

      <div role="tablist" class="d-flex flex-wrap gap-4 filterMenu-categories">
        <button
          name="category"
          value="all"
          class="badge-primary-500 has-hover"
          role="tab"
          aria-selected="true"
        >
          Vše
          <span>48</span>
        </button>
        <button
          name="category"
          value="1"
          class="badge-gray-100 has-hover"
          role="tab"
        >
          Klubové aukce
          <span>12</span>
        </button>
        <button
          name="category"
          value="2"
          class="badge-gray-100 has-hover"
          role="tab"
        >
          Fotbalové dresy
          <span>5</span>
        </button>
        <button
          name="category"
          value="3"
          class="badge-gray-100 has-hover"
          role="tab"
        >
          Hokejové dresy
          <span>4</span>
        </button>
        <button
          name="category"
          value="4"
          class="badge-gray-100 has-hover"
          role="tab"
        >
          Artefakty
          <span>6</span>
        </button>
        <button
          name="category"
          value="5"
          class="badge-gray-100 has-hover"
          role="tab"
        >
          Repre
          <span>2</span>
        </button>
        <button
          name="category"
          value="6"
          class="badge-gray-100 has-hover"
          role="tab"
        >
          Originální dresy
          <span>1</span>
        </button>
        <button
          name="category"
          value="7"
          class="badge-gray-100 has-hover"
          role="tab"
        >
          Repliky
          <span>24</span>
        </button>
      </div>
      <select class="js-select">
        <option value="">Nejnovější</option>
        <option value="">Doporučujeme</option>
        <option value="">Podle hodnocení</option>
      </select>
    </form>
    {% include "@components/products/products.twig" %}
  </div>

  <section class="bids-section pb-lg-20 pb-10 pt-20">
    <h3 class="h4 mb-9 px-5 text-center fw-semibold">Poslední příhozy</h3>
    <div class="d-lg-block d-none">
      <div class="container">
        <div class="tableBids p-6 bg-gray-100 rounded-lg">
          <div class="table-responsive mb-6">
            <table class="auctionTable">
              <thead>
                <tr>
                  <th class="text-start sort-auction">
                    <a href="#">Název aukce</a>
                  </th>
                  <th class="text-start d-lg-table-cell d-none">
                    <a href="#">Název předmětu / dresu</a>
                  </th>
                  <th class="text-start"><a href="#">Cena</a></th>
                  <th class="text-start d-lg-table-cell d-none">
                    <a href="#">Čas</a>
                  </th>
                  <th class="text-start d-lg-table-cell d-none">Přihazující</th>
                  <th>Akce</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Aukce dresů ze sedmého ročníku projektu PIRÁTI CHOMUTOV
                      PRO NEMOCNICI
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">1 500 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Petr F.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Benefiční aukce dresů z utkání Zlín Stars vs. Real Top
                      Praha
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">1 500 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Jarmil P.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Charitativní aukce dresů fotbalového klubu FK Teplice
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">2 000 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Antonín S.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Aukce dresů z utkání HC Vítkovice Ridera
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">1 800 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Martin P.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Aukce dresů ze sedmého ročníku projektu PIRÁTI CHOMUTOV
                      PRO NEMOCNICI
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">1 500 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Petr F.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Benefiční aukce dresů z utkání Zlín Stars vs. Real Top
                      Praha
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">1 500 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Jarmil P.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Charitativní aukce dresů fotbalového klubu FK Teplice
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">2 000 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Antonín S.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Aukce dresů z utkání HC Vítkovice Ridera
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">1 800 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Martin P.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Aukce dresů ze sedmého ročníku projektu PIRÁTI CHOMUTOV
                      PRO NEMOCNICI
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">1 500 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Petr F.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Benefiční aukce dresů z utkání Zlín Stars vs. Real Top
                      Praha
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">1 500 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Jarmil P.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Charitativní aukce dresů fotbalového klubu FK Teplice
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">2 000 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Antonín S.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Aukce dresů z utkání HC Vítkovice Ridera
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">1 800 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Martin P.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Aukce dresů ze sedmého ročníku projektu PIRÁTI CHOMUTOV
                      PRO NEMOCNICI
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">1 500 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Petr F.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Benefiční aukce dresů z utkání Zlín Stars vs. Real Top
                      Praha
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">1 500 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Jarmil P.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Charitativní aukce dresů fotbalového klubu FK Teplice
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">2 000 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Jarmil P.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="underline fw-semibold">
                      Aukce dresů z utkání HC Vítkovice Ridera
                    </a>
                  </td>
                  <td class="d-lg-table-cell d-none">Svoboda Tadeáš</td>
                  <td class="fw-semibold">1 800 Kč</td>
                  <td class="text-gray-400 fw-medium d-lg-table-cell d-none">
                    před 10 hod
                  </td>
                  <td class="fw-semibold d-lg-table-cell d-none">Jarmil P.</td>
                  <td>
                    <a href="#" class="button-gray-800 button-sm"> Detail </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="d-lg-none d-block bg-light py-10">
      <div class="container">
        <div class="row g-6">
          {% for i in 1..5 %}
          <div class="col-md-6">
            <div class="rounded-xl bg-gray-200 p-8 bidsItem">
              <div class="badge-primary-300 mb-3">Nyní</div>
              <a class="text-xl-semibold mb-3 d-block underline-hover" href="#">
                Hrané hokejky českých reprezentantů
              </a>
              <div class="text-gray-400 text-sm-medium mb-6">
                # Hokejka Marka Židlického
              </div>
              <div class="d-flex gap-4 align-items-center flex-wrap mb-6">
                <div class="d-flex align-items-center gap-2">
                  <img
                    src="images/ico/user-b.svg"
                    width="24"
                    height="24"
                    class="object-fit-content"
                    alt=""
                  />
                  <h3 class="text-base-semibold">Martin P.</h3>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <img
                    src="images/ico/coins.svg"
                    width="24"
                    height="24"
                    class="object-fit-content"
                    alt=""
                  />
                  <h3 class="text-base-semibold">5 000 Kč</h3>
                </div>
              </div>
              <a href="#" class="button-gray-800">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15 12a1 1 0 0 1-.29.71l-4 4a1 1 0 0 1-1.42-1.42L12.59 12 9.29 8.71a1 1 0 0 1 1.42-1.42l4 4A1 1 0 0 1 15 12z"
                    fill="#1A1D1F"
                  ></path>
                </svg>
                Detail
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="rounded-xl bg-gray-200 p-8 bidsItem">
              <div class="badge-gray-400 mb-3">před 5 min</div>
              <a class="text-xl-semibold mb-3 d-block underline-hover" href="#">
                Hrané hokejky českých reprezentantů
              </a>
              <div class="text-gray-400 text-sm-medium mb-6">
                # Hokejka Marka Židlického
              </div>
              <div class="d-flex gap-4 align-items-center flex-wrap mb-6">
                <div class="d-flex align-items-center gap-2">
                  <img
                    src="images/ico/user-b.svg"
                    width="24"
                    height="24"
                    class="object-fit-content"
                    alt=""
                  />
                  <h3 class="text-base-semibold">Martin P.</h3>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <img
                    src="images/ico/coins.svg"
                    width="24"
                    height="24"
                    class="object-fit-content"
                    alt=""
                  />
                  <h3 class="text-base-semibold">5 000 Kč</h3>
                </div>
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#bidsModal"
                class="button-gray-800"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15 12a1 1 0 0 1-.29.71l-4 4a1 1 0 0 1-1.42-1.42L12.59 12 9.29 8.71a1 1 0 0 1 1.42-1.42l4 4A1 1 0 0 1 15 12z"
                    fill="#1A1D1F"
                  ></path>
                </svg>
                Detail
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <div class="bg-light py-lg-20 py-0">
    <div
      class="position-relative z-index-3 rounded-xl bg-gray-400 py-8 px-sm-16 px-8 d-flex gap-lg-20 gap-10 align-items-center w-fit-content mx-auto flex-wrap justify-content-center"
    >
      <div
        class="d-flex gap-8 justify-content-center align-items-center flex-wrap flex-md-nowrap flex-md-row flex-column"
      >
        <img
          src="images/content/legenda.png"
          class="object-fit-content"
          width="101"
          height="146"
          alt=""
        />

        <div class="text-light">
          <h4 class="h4 mb-1">Získej zbylé hokejové dresy</h4>
          <p class="text-base-medium">
            z projektu Legenda pomáhá a pomoz na dobrou věc.
          </p>
        </div>
      </div>
      <a
        href="https://www.hokej.cz/ziskejte-nevydrazene-dresy-z-charitativnich-aukci/5049315"
        target="_blank"
        class="button-gray-800"
      >
        Získej nyní {% include "@images/arrow-right.svg" %}
      </a>
    </div>
  </div>
  {% include "@components/reference-section/reference-section.twig" %}
</main>

{% endblock %}
