{% extends "@components/base/base.twig" %} {% set title = "02.0_teams" %} {%
block main %} {% include "@components/header/header.twig" %}
<main id="main-content" class="main" aria-label="Hlavní obsah">
  <section class="container pb-20 pt-14">
    <h1 class="h2 mb-14 text-center fw-semibold">Kluby</h1>

    <div class="row g-7">
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a
          href="#"
          class="teamItem ring-1 py-8 px-md-8 px-6 bg-light d-flex flex-column justify-content-center align-items-centers rounded-xl text-center"
        >
          <img
            src="images/ico/zlin.svg"
            width="120"
            height="120"
            class="object-fit-content mb-4 mx-auto"
            alt="klub"
          />
          <div class="text-gray-700 text-base-semibold mb-4">
            HC Berani Zlín
          </div>
          <div class="badge-gray-300 mx-auto">1 aukcí</div>
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a
          href="#"
          class="teamItem ring-1 py-8 px-md-8 px-6 bg-light d-flex flex-column justify-content-center align-items-centers rounded-xl text-center"
        >
          <img
            src="images/ico/sparta-f.svg"
            width="120"
            height="120"
            class="object-fit-content mb-4 mx-auto"
            alt="klub"
          />
          <div class="text-gray-700 text-base-semibold mb-4">FK Sparta</div>
          <div class="badge-gray-300 mx-auto">3 aukcí</div>
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a
          href="#"
          class="teamItem ring-1 py-8 px-md-8 px-6 bg-light d-flex flex-column justify-content-center align-items-centers rounded-xl text-center"
        >
          <img
            src="images/ico/banik.svg"
            width="120"
            height="120"
            class="object-fit-content mb-4 mx-auto"
            alt="klub"
          />
          <div class="text-gray-700 text-base-semibold mb-4">FC Baník</div>
          <div class="badge-gray-300 mx-auto">3 aukcí</div>
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a
          href="#"
          class="teamItem ring-1 py-8 px-md-8 px-6 bg-light d-flex flex-column justify-content-center align-items-centers rounded-xl text-center"
        >
          <img
            src="images/ico/sparta-f.svg"
            width="120"
            height="120"
            class="object-fit-content mb-4 mx-auto"
            alt="klub"
          />
          <div class="text-gray-700 text-base-semibold mb-4">
            FK Sparta Praha
          </div>
          <div class="badge-gray-300 mx-auto">5 aukcí</div>
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a
          href="#"
          class="teamItem ring-1 py-8 px-md-8 px-6 bg-light d-flex flex-column justify-content-center align-items-centers rounded-xl text-center"
        >
          <img
            src="images/ico/sparta.svg"
            width="120"
            height="120"
            class="object-fit-content mb-4 mx-auto"
            alt="klub"
          />
          <div class="text-gray-700 text-base-semibold mb-4">
            HC Sparta Praha
          </div>
          <div class="badge-gray-300 mx-auto">5 aukcí</div>
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a
          href="#"
          class="teamItem ring-1 py-8 px-md-8 px-6 bg-light d-flex flex-column justify-content-center align-items-centers rounded-xl text-center"
        >
          <img
            src="images/ico/zlin.svg"
            width="120"
            height="120"
            class="object-fit-content mb-4 mx-auto"
            alt="klub"
          />
          <div class="text-gray-700 text-base-semibold mb-4">
            HC Berani Zlín
          </div>
          <div class="badge-gray-300 mx-auto">1 aukcí</div>
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a
          href="#"
          class="teamItem ring-1 py-8 px-md-8 px-6 bg-light d-flex flex-column justify-content-center align-items-centers rounded-xl text-center"
        >
          <img
            src="images/ico/sparta-f.svg"
            width="120"
            height="120"
            class="object-fit-content mb-4 mx-auto"
            alt="klub"
          />
          <div class="text-gray-700 text-base-semibold mb-4">FK Sparta</div>
          <div class="badge-gray-300 mx-auto">3 aukcí</div>
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a
          href="#"
          class="teamItem ring-1 py-8 px-md-8 px-6 bg-light d-flex flex-column justify-content-center align-items-centers rounded-xl text-center"
        >
          <img
            src="images/ico/banik.svg"
            width="120"
            height="120"
            class="object-fit-content mb-4 mx-auto"
            alt="klub"
          />
          <div class="text-gray-700 text-base-semibold mb-4">FC Baník</div>
          <div class="badge-gray-300 mx-auto">3 aukcí</div>
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a
          href="#"
          class="teamItem ring-1 py-8 px-md-8 px-6 bg-light d-flex flex-column justify-content-center align-items-centers rounded-xl text-center"
        >
          <img
            src="images/ico/sparta-f.svg"
            width="120"
            height="120"
            class="object-fit-content mb-4 mx-auto"
            alt="klub"
          />
          <div class="text-gray-700 text-base-semibold mb-4">
            FK Sparta Praha
          </div>
          <div class="badge-gray-300 mx-auto">5 aukcí</div>
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a
          href="#"
          class="teamItem ring-1 py-8 px-md-8 px-6 bg-light d-flex flex-column justify-content-center align-items-centers rounded-xl text-center"
        >
          <img
            src="images/ico/zlin-f.svg"
            width="120"
            height="120"
            class="object-fit-content mb-4 mx-auto"
            alt="klub"
          />
          <div class="text-gray-700 text-base-semibold mb-4">FC Zlín</div>
          <div class="badge-gray-300 mx-auto">5 aukcí</div>
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a
          href="#"
          class="teamItem ring-1 py-8 px-md-8 px-6 bg-light d-flex flex-column justify-content-center align-items-centers rounded-xl text-center"
        >
          <img
            src="images/ico/viktoria.svg"
            width="120"
            height="120"
            class="object-fit-content mb-4 mx-auto"
            alt="klub"
          />
          <div class="text-gray-700 text-base-semibold mb-4">
            FC VIKTORIA Plzeň
          </div>
          <div class="badge-gray-300 mx-auto">5 aukcí</div>
        </a>
      </div>
    </div>
  </section>
  {% include "@components/bids-section/bids-section.twig" %} {% include
  "@components/reference-section/reference-section-2.twig" %} {% include
  "@components/modal/modal-bids.twig" %}
</main>

{% endblock %}
