{% extends "@components/base/base.twig" %} {% set title = "03.0_registration" %}
{% block main %}
 {% include "@components/header/header.twig" %}
<main id="main-content" class="main" aria-label="Hlavní obsah">
  <section class="container pb-20 pt-14">
    <h1 class="h2 mb-14 text-center fw-semibold">Vytvořit účet</h1>
    {% include "@components/registration-section/registration-section.twig" %}
  </section>

  {% include "@components/reference-section/reference-section-2.twig" %}
</main>

{% endblock %}
