{% extends "@components/base/base.twig" %} {% set title = "07.0_detail-bids" %}
{% block main %} {% include "@components/header/header.twig" %}
<main id="main-content" class="main" aria-label="Hlavní obsah">
  <section class="container pt-14 pb-20">
    {% include "@components/detail-bids/detail-bids.twig" %} {% include
    "@components/auctionItems/auctionItems.twig" %}
    <div class="tableBids p-6 bg-gray-100 rounded-lg mb-14">
      <h3 class="h5 mb-4 fw-semibold">Příhozy</h3>
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th class="text-start"><a href="#">Název předmětu / dresu</a></th>
              <th class="text-start"><a href="#">Cena</a></th>
              <th class="text-start"><a href="#">Čas</a></th>
              <th class="text-start"><a href="#">Přihazující</a></th>
              <th>Akce</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="fw-semibold">
                  Aukce dresů ze sedmého ročníku projektu PIRÁTI CHOMUTOV PRO
                  NEMOCNICI
                </div>
              </td>

              <td class="fw-semibold">1 500 Kč</td>
              <td class="text-gray-400 fw-medium">13:00:00 23.2.2025</td>
              <td class="fw-semibold">Petr F.</td>
              <td>
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#bidsModal"
                  class="button-gray-800 button-sm"
                >
                  Přihodit
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="fw-semibold">
                  Benefiční aukce dresů z utkání Zlín Stars vs. Real Top Praha
                </div>
              </td>

              <td class="fw-semibold">1 500 Kč</td>
              <td class="text-gray-400 fw-medium">13:00:00 23.2.2025</td>
              <td class="fw-semibold">Jarmil P.</td>
              <td>
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#bidsModal"
                  class="button-gray-800 button-sm"
                >
                  Přihodit
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="fw-semibold">
                  Charitativní aukce dresů fotbalového klubu FK Teplice
                </div>
              </td>

              <td class="fw-semibold">2 000 Kč</td>
              <td class="text-gray-400 fw-medium">13:00:00 23.2.2025</td>
              <td class="fw-semibold">Antonín S.</td>
              <td>
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#bidsModal"
                  class="button-gray-800 button-sm"
                >
                  Přihodit
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="fw-semibold">
                  Aukce dresů z utkání HC Vítkovice Ridera
                </div>
              </td>

              <td class="fw-semibold">1 800 Kč</td>
              <td class="text-gray-400 fw-medium">13:00:00 23.2.2025</td>
              <td class="fw-semibold">Martin P.</td>
              <td>
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#bidsModal"
                  class="button-gray-800 button-sm"
                >
                  Přihodit
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="fw-semibold">
                  Aukce dresů ze sedmého ročníku projektu PIRÁTI CHOMUTOV PRO
                  NEMOCNICI
                </div>
              </td>

              <td class="fw-semibold">1 500 Kč</td>
              <td class="text-gray-400 fw-medium">13:00:00 23.2.2025</td>
              <td class="fw-semibold">Petr F.</td>
              <td>
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#bidsModal"
                  class="button-gray-800 button-sm"
                >
                  Přihodit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      {% include "@components/modal/modal-bids.twig" %} {% include
      "@components/modal/modal-buyNow.twig" %}
    </div>
  </section>
  {% include "@components/reference-section/reference-section.twig" %}
</main>

{% endblock %}
