{% extends "@components/base/base.twig" %} {% set title = "11.0_profile-unwon" %} {%
block main %} {% include "@components/header/header-login.twig" %}
<main id="main-content" class="main pb-lg-20" aria-label="Hlavní obsah">
   

    <section class="profile my-14 mx-3 mx-auto p-6 bg-gray-100     rounded-lg">
    
        {% include "@components/aside/aside.twig" %}
        {% include "@components/profile/profile-unwon.twig" %}
       
    </section>
   
  </section>

 
</main>

{% endblock %}
