{% extends "@components/base/base.twig" %} {% set title = "12.0_article" %} {%
block main %} {% include "@components/header/header.twig" %}
<main id="main-content" class="main" aria-label="Hlavní obsah">
  <section class="container pb-20 pt-14">
    <h1 class="h2 mx-auto mb-8 text-center fw-semibold">
      Informace o zpracování osobních údajů v rámci portálu sportovniaukce.cz
    </h1>

    <div
      class="container-lg px-lg-10 px-sm-6 px-4 py-6 py-8 bg-gray-100 rounded-lg mb-14"
    >
      <div class="typography">
        <h2>Souhlas se zpracováním Vašich osobních údajů</h2>
        <p>
          <strong>
            Jako „návštěvník (uživatel)“ označením tohoto pole uděluji výslovný
            souhlas s tím, aby společnost eSports.cz, s.r.o. se sídlem v
            Jeřabinové ulici č. 30, Plzeň 326 00 Plzeň, IČ: 26340933, zapsána v
            obchodním rejstříku vedeném Krajským soudem v Plzni, oddíl C, vložka
            14094, jakožto Správce, zpracovávala manuálně i automatizovaně,
            včetně profilování, mé osobní údaje, a to jméno, příjmení,
            uživatelské jméno, telefonní číslo a elektronickou (e-mailovou)
            adresu, adresu pro doručení vydražené předmětu, za účelem
            zodpovězení dotazů či požadavků mnou vznesených, a dále za účelem
            poskytnutí mnou objednaných služeb.
          </strong>
        </p>
        <h3>Co od Vás potřebujeme</h3>
        <p>
          Společnost eSports.cz, s.r.o. je Správcem osobních údajů, které nám vy
          jako zákazník poskytujete. Shromažďujeme o Vás jen základní osobní
          údaje, nikoliv zvláštní citlivé typy informací. Zahrnují jméno,
          adresu, email atp.
        </p>
        <h3>Proč to potřebujeme</h3>
        <p>
          Potřebujeme znát Vaše základní osobní údaje, abychom Vám mohli
          poskytnout služby, které si od nás objednáte. Shromažďujeme pouze
          takové Vaše osobní údaje, které potřebujeme k poskytování těchto
          služeb, a pouze po dobu nezbytnou k poskytnutí Vámi požadovaných
          služeb nebo po dobu, kterou nám ukládá zákon.
        </p>
        <h3>Jak s osobními údaji nakládáme</h3>
        <p>
          Veškeré námi zpracovávané osobní údaje zpracovávají naši pracovníci v
          České republice. K Vašim údajům nemá přístup žádná třetí strana s
          výjimkou případů, kdy k tomu je zákonný důvod.
        </p>
        <h3>Další využití</h3>
        <p>
          Pokud máte zájem, rádi bychom Vás pravidelně informovali o našich
          nových nabídkách služeb využitím Vašeho jména a e-mailové adresy. Z
          tohoto odebírání novinek se můžete kdykoliv odhlásit.
        </p>
        <h3>Jaká jsou Vaše práva?</h3>
        <p>
          Pokud si přejete získat podrobnější informace o tom, jakým způsobem
          zpracováváme vaše osobní údaje, nebo získat přístup ke svým osobním
          údajům, poskytnout vysvětlení, aktualizovat, opravit, zablokovat nebo
          vymazat jakékoliv osobní údaje, které se týkají vaší osoby, odvolat
          svůj souhlas se zpracováním osobních údajů, odstranit vaši e-mailovou
          adresu z našich adresářů nebo pokud máte jakékoliv dotazy, připomínky
          či obavy ohledně našich postupů v oblasti ochrany osobních údajů,
          obraťte se, prosím, na adresu <a href="#">firma@esports.cz</a>,
          případně poštou na adresu eSports.cz, s.r.o., Jeřabinová 30, 326 00
          Plzeň.
        </p>
        <h2>Heading level 2</h2>
        <h3>Heading level 3</h3>
        <h4>Heading level 4</h4>
        <h5>Heading level 5</h5>
        <h6>Heading level 6</h6>
        <img src="https://picsum.photos/920/532?.jpg" alt="" />
        <p></p>
        <h2>Lists</h2>
        <ul>
          <li>List item</li>
          <li>List item with some extra text</li>
          <li><a href="">Link in typography</a></li>
          <li>
            List item<br />
            with a line break
          </li>
        </ul>
        <blockquote>
          “Technologie nám pomáhají lépe pochopit potřeby našich hráčů i
          fanoušků. Bez nich bychom v dnešní době těžko uspěli.”
        </blockquote>
        <ol>
          <li>Numbered item</li>
          <li>Numbered item</li>
          <li>Numbered item</li>
        </ol>
        <h2>Table</h2>
        <table>
          <tr>
            <th>Title of column</th>
            <th>Title of column</th>
            <th>Title of column</th>
          </tr>
          <tr>
            <td>text in a table</td>
            <td>text in a table</td>
            <td>text in a table</td>
          </tr>
          <tr>
            <td>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime
              numquam accusantium ullam amet perspiciatis, exercitationem quasi
              tempore veniam. Odit voluptate facilis sit quod, necessitatibus
              eius nemo aut dolore molestiae nulla?
            </td>
            <td>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime
              numquam accusantium ullam amet perspiciatis, exercitationem quasi
              tempore veniam. Odit voluptate facilis sit quod, necessitatibus
              eius nemo aut dolore molestiae nulla?
            </td>
            <td>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime
              numquam accusantium ullam amet perspiciatis, exercitationem quasi
              tempore veniam. Odit voluptate facilis sit quod, necessitatibus
              eius nemo aut dolore molestiae nulla?
            </td>
          </tr>
          <tr>
            <td>text in a table</td>
            <td><a href="">link in table</a></td>
            <td>text in a table</td>
          </tr>
        </table>
        <p>
          Knowing that a win would keep them up, it was a disastrous opening
          period for Pete Russel's men. Markus Vikingstad and Patrick Thoresen
          scored just over two minutes apart to put Norway 2-0 ahead with under
          seven minutes played. Eskild Bakke Olsen made it 3-0 at 12:25 as GB
          struggled to generate any Grade A scoring chances.
        </p>
        <p>
          Michael Brandsegg-Nygård converted a powerplay off a Josh Batch
          Cross-Check 78 seconds into period two to put Norway in complete
          control. Brett Perlini pulled one back at 24:56 to give GB some hope.
          Liam Kirk didn't take a shift in the second period.
        </p>
        <h2>Embed YouTube</h2>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/6Rg5EF_rB2Y?si=gF3QJi4-yVqd14Xh"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </section>
  {% include "@components/bids-section/bids-section.twig" %} {% include
  "@components/reference-section/reference-section-2.twig" %} {% include
  "@components/modal/modal-bids.twig" %}
</main>

{% endblock %}
