{% extends "@components/base/base.twig" %} {% set title =
"13.0_registration-default" %} {% block main %} {% include
"@components/header/header.twig" %}
<main id="main-content" class="main" aria-label="Hlavní obsah">
  <section class="container pb-20 pt-14">
    <h1 class="h2 mb-14 text-center fw-semibold">Vytvořit účet</h1>
    <div
      class="registration-section registration-section--default rounded-xl overflow-hidden"
    >
      <form
        aria-labelledby="form-title"
        class="bg-light px-4 py-6 p-sm-8 p-xl-16 registration-form"
      >
        <h2 id="form-title" class="h5 fw-semibold mb-4">Základní údaje</h2>

        <div class="d-grid gap-4 mb-8">
          <div class="d-grid gap-1">
            <label class="text-sm-semibold" for="mail"
              >Váš email <sup class="text-primary-500">*</sup></label
            >
            <input placeholder="Vyplňte" type="email" id="mail" required />
          </div>
          <div class="d-grid gap-1">
            <label class="text-sm-semibold" for="pass"
              >Heslo <sup class="text-primary-500">*</sup></label
            >
            <input placeholder="Vyplňte" type="password" id="pass" required />
          </div>
          <div class="d-grid gap-1">
            <label class="text-sm-semibold" for="pass2"
              >Heslo znovu pro kontrolu
              <sup class="text-primary-500">*</sup></label
            >
            <input placeholder="Vyplňte" type="password" id="pass2" />
          </div>
        </div>

        <h3 id="form-subtitle" class="h5 fw-semibold mb-4">Kontaktní údaje</h3>

        <div class="d-grid gap-4 mb-8">
          <div class="row g-4">
            <div class="col-sm-6">
              <div class="d-grid gap-1">
                <label class="text-sm-semibold" for="name"
                  >Vaše jméno<sup class="text-primary-500">*</sup></label
                >
                <input placeholder="Vyplňte" type="text" id="name" required />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-grid gap-1">
                <label class="text-sm-semibold" for="surname"
                  >Vaše příjmení <sup class="text-primary-500">*</sup></label
                >
                <input
                  type="text"
                  placeholder="Vyplňte"
                  id="surname"
                  required
                />
              </div>
            </div>
          </div>
          <div class="d-grid gap-1">
            <label class="text-sm-semibold" for="mobile"
              >Mobil <sup class="text-primary-500">*</sup></label
            >
            <input placeholder="Vyplňte" type="tel" id="mobile" required />
          </div>
          <div class="d-grid gap-1">
            <label class="text-sm-semibold" for="street"
              >Ulice <sup class="text-primary-500">*</sup></label
            >
            <input placeholder="Vyplňte" type="text" id="street" required />
          </div>
          <div class="row g-4">
            <div class="col-sm-8">
              <div class="d-grid gap-1">
                <label class="text-sm-semibold" for="city"
                  >Město <sup class="text-primary-500">*</sup></label
                >
                <input placeholder="Vyplňte" type="text" id="city" required />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="d-grid gap-1">
                <label class="text-sm-semibold" for="psc"
                  >PSČ <sup class="text-primary-500">*</sup></label
                >
                <input type="text" placeholder="Vyplňte" id="psc" required />
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex gap-3 mb-8">
          <label class="custom-checkbox">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
          <div class="text-sm-medium text-gray-700">
            Souhlasím s

            <a href="#" class="text-primary-500 underline">
              Podmínkami služby.
            </a>
            a
            <a
              href="http://dev-sportovniaukce-cz.sh10w3.esports.cz/ochrana-osobnich-udaju"
              target="_blank"
              class="text-primary-500 underline"
            >
              Zásady ochrany osobních údajů
            </a>
          </div>
        </div>

        <button class="button-primary-500 w-100">Odeslat zprávu</button>
      </form>
    </div>
  </section>

  {% include "@components/reference-section/reference-section-2.twig" %}
</main>

{% endblock %}
