<div class="registration-section rounded-xl overflow-hidden">
  <div class="row g-0">
    <div class="col-lg-6">
      <form
        aria-labelledby="form-title"
        class="bg-light px-4 py-6 p-sm-8 p-xl-16 registration-form"
      >
        <h2 id="form-title" class="h5 fw-semibold mb-4">Základní údaje</h2>

        <div class="d-grid gap-4 mb-8">
          <div class="d-grid gap-1">
            <label class="text-sm-semibold" for="mail"
              >Váš email <sup class="text-primary-500">*</sup></label
            >
            <input placeholder="Vyplňte" type="email" id="mail" required />
          </div>
          <div class="d-grid gap-1">
            <label class="text-sm-semibold" for="pass"
              >Heslo <sup class="text-primary-500">*</sup></label
            >
            <input placeholder="Vyplňte" type="password" id="pass" required />
          </div>
          <div class="d-grid gap-1">
            <label class="text-sm-semibold" for="pass2"
              >Heslo znovu pro kontrolu
              <sup class="text-primary-500">*</sup></label
            >
            <input placeholder="Vyplňte" type="password" id="pass2" />
          </div>
        </div>

        <h3 id="form-subtitle" class="h5 fw-semibold mb-4">Kontaktní údaje</h3>

        <div class="d-grid gap-4 mb-8">
          <div class="row g-4">
            <div class="col-sm-6">
              <div class="d-grid gap-1">
                <label class="text-sm-semibold" for="name"
                  >Vaše jméno<sup class="text-primary-500">*</sup></label
                >
                <input placeholder="Vyplňte" type="text" id="name" required />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-grid gap-1">
                <label class="text-sm-semibold" for="surname"
                  >Vaše příjmení <sup class="text-primary-500">*</sup></label
                >
                <input
                  type="text"
                  placeholder="Vyplňte"
                  id="surname"
                  required
                />
              </div>
            </div>
          </div>
          <div class="d-grid gap-1">
            <label class="text-sm-semibold" for="mobile"
              >Mobil <sup class="text-primary-500">*</sup></label
            >
            <input placeholder="Vyplňte" type="tel" id="mobile" required />
          </div>
          <div class="d-grid gap-1">
            <label class="text-sm-semibold" for="street"
              >Ulice <sup class="text-primary-500">*</sup></label
            >
            <input placeholder="Vyplňte" type="text" id="street" required />
          </div>
          <div class="row g-4">
            <div class="col-sm-8">
              <div class="d-grid gap-1">
                <label class="text-sm-semibold" for="city"
                  >Město <sup class="text-primary-500">*</sup></label
                >
                <input placeholder="Vyplňte" type="text" id="city" required />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="d-grid gap-1">
                <label class="text-sm-semibold" for="psc"
                  >PSČ <sup class="text-primary-500">*</sup></label
                >
                <input type="text" placeholder="Vyplňte" id="psc" required />
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex gap-3 mb-4">
          <label class="custom-checkbox">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
          <div class="text-sm-medium text-gray-700">
            Prohlašuji, že jsem se seznámil/a a souhlasím s
            <a href="#" class="text-primary-500 underline">
              Obchodními podmínkami </a
            >. a
            <a href="#" class="text-primary-500 underline">
              Pravidly ochrany osobních údajů
            </a>
          </div>
        </div>
        <div class="d-flex gap-3 mb-8">
          <label class="custom-checkbox">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
          <div class="text-sm-medium text-gray-700">
            <div class="fw-semibold">Chci vyzkoušet PRO účet</div>
            19 Kč / měsíc (placeno ročně)
          </div>
        </div>

        <button class="button-primary-500 w-100">Odeslat zprávu</button>
      </form>
    </div>
    <div class="col-lg-6">
      <div class="h-100 bg-gray-100 px-4 py-6 p-sm-8 p-xl-16">
        <img
          src="https://placehold.co/356x356"
          class="aspect-square object-fit-cover mx-auto rounded-xl border border-gray-300 mb-9"
          alt=""
        />
        <h4 class="h4 text-gray-700 fw-semibold mb-3">Vyzkoušejte PRO účet</h4>
        <p class="text-base-medium mb-8">
          Výtěžek slouží pouze na pokrytí výdajů spojených s provozem portálu.
        </p>
        <div class="text-xl-semibold text-gray-700 mb-4">
          PRO účet obsahuje:
        </div>

        <ul
          role="list"
          class="text-sm-medium mb-8 d-flex flex-column flex-wrap gap-4"
        >
          <li class="d-flex align-items-center gap-2">
            <img
              src="images/ico/check-circle.svg"
              width="24"
              height="24"
              class="object-fit-contain"
              alt=""
            />
            Kompletně bez reklam
          </li>
          <li class="d-flex align-items-center gap-2">
            <img
              src="images/ico/check-circle.svg"
              width="24"
              height="24"
              class="object-fit-contain"
              alt=""
            />
            Upozornění na email, když vás někdo přehodí
          </li>
          <li class="d-flex align-items-center gap-2">
            <img
              src="images/ico/check-circle.svg"
              width="24"
              height="24"
              class="object-fit-contain"
              alt=""
            />
            Přidávání aukcí do oblíbených
          </li>
          <li class="d-flex align-items-center gap-2">
            <img
              src="images/ico/check-circle.svg"
              width="24"
              height="24"
              class="object-fit-contain"
              alt=""
            />
            Možnost přepnout web do darkmodu
          </li>
          <li class="d-flex align-items-center gap-2">
            <img
              src="images/ico/check-circle.svg"
              width="24"
              height="24"
              class="object-fit-contain"
              alt=""
            />
            Automatické přihazování do mého maxima
          </li>
        </ul>
        <div class="text-base-semibold">Pouze 8 Kč / měsíc</div>
        <div class="text-gray-400 text-xs-medium">
          Placeno ročně (96 Kč / rok)
        </div>
      </div>
    </div>
  </div>
</div>
