.registration-form {
  @include media-breakpoint-up(lg) {
    border-right: 1px solid var(--color-gray-300);
  }
}
.registration-section {
  max-width: 996px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04), 0px 10px 10px rgba(0, 0, 0, 0.04),
    0px 22px 13px rgba(0, 0, 0, 0.02), 0px 39px 16px rgba(0, 0, 0, 0.01);
}
.registration-section--default {
  max-width: 720px;
}

.registration-confirm {
  max-width: 452px;
  margin: 0 auto;
  &__check {
    width: fit-content;
    border-radius: 22px;
    box-shadow: 0px 3.79px 8.04px rgba(0, 0, 0, 0.05),
      0px 14.2px 14.2px rgba(0, 0, 0, 0.03),
      0px 32.18px 19.4px rgba(0, 0, 0, 0.06),
      0px 57.25px 22.71px rgba(0, 0, 0, 0.01);
  }
  @include media-breakpoint-down(md) {
    border-radius: 16px;
  }
}
