.hero {
  padding-top: 120px;
  background-color: var(--color-gray-200);
  background-image: url("../images/content/top-gradient-to-gray.webp");
  background-repeat: no-repeat;
  background-position: top right;

  @include media-breakpoint-up(sm) {
    padding-top: 176px;
  }
   
  .h2 {
    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: -0.03em;
    }
  }
}
