<section class="hero pb-20">
  <div
    class="container d-flex flex-column align-items-center justify-content-center pb-14"
  >
    <div
      class="badge-secondary-100 mb-5 d-flex gap-1 flex-wrap justify-content-center align-items-center"
    >
      Spouštíme novou verzi!
      <span class="fw-medium">Děkujeme za zpětnou vazbu</span>
    </div>

    <h1 class="h1 mb-3 text-center fw-bold">
      Originální hrané sportovní dresy
    </h1>
    <h2 class="h4 mb-8 text-center fw-semibold">
      či jiné sběratelské artefakty
    </h2>

    <div
      class="d-flex w-100 justify-content-center gap-sm-4 gap-2 flex-sm-row flex-column"
    >
      <a href="#" class="button-primary-500">
        {% include "@images/crown.svg" %} Všechny funkce
      </a>
      <a href="#" class="button-stroke">
        {% include "@images/plus.svg" %} Porovnání s konkurencí
      </a>
    </div>
  </div>
</section>
